{% load i18n %}{% autoescape off %}
{% trans "Здравствуйте!" %}

{% blocktrans %}Вы получили это письмо потому, что запросили восстановление пароля для вашего аккаунта на сайте {{ site_name }}.{% endblocktrans %}

{% trans "Пожалуйста, перейдите по ссылке ниже чтобы установить новый пароль:" %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "Ваше имя пользователя:" %} {{ user.get_username }}

{% trans "Если вы не запрашивали восстановление пароля, пожалуйста, проигнорируйте это письмо." %}

---
{% trans "С уважением," %}
{% trans "Команда Книжного магазина" %}

{% trans "Это письмо было отправлено автоматически. Пожалуйста, не отвечайте на него." %}
{% endautoescape %}